.dialog-tag {
    padding: 8px 16px;
    color: black;
}

.dialog-container {
    position: absolute;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
}

.expanded-window {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.dialog-content *  {
    width: 100%;
    align-items: flex-start
}

.dialog-content h1 {
    align-items: center;
}

.project-card {
    padding-top: 16px;
}

.project-card div {
    padding-bottom: 8px;
}

.project-card span {
    color: white !important;
}