body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body * {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.Typist {
  display: initial;
}

a { 
  color: green;
}

h1, h2, h3 {
  font-family: 'Cutive Mono'
}

.row-flex {
  flex-direction: row !important;
}

.align-end {
  align-items: flex-end !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.print-out {
  align-items: flex-start;
}

.print-out h2 {
  width: 100%;
  text-align: center;
}

.pad-bottom {
  padding-bottom: 8px;
}

.skill-div {
  align-items: flex-start;
}

.skill-div h2 {
  width: 100%;
  align-items: center;
  text-align: center;
}

script {
  display: none !important;
}