body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Cutive Mono'
}

.row-flex {
  flex-direction: row !important;
}

.align-end {
  align-items: flex-end !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.justify-content {
  justify-content: center !important;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
